/* You can add global styles to this file, and also import other style files */
body {
    background-image:url('/assets/images/beautiful-color-gradients-backgrounds-166-deep-relief.png');
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}